<p-toast></p-toast>
<div *ngIf="survey"
     class="card mb-6">
    <div class="flex justify-content-between align-items-center mb-5">
        <h5>{{ survey.title }}</h5>
        <p class="text-muted">Opções: {{ survey.options?.length }}</p>
    </div>

    <div class="flex justify-content-center mb-5">
        <p class="text-muted">
            {{ survey.description }}
        </p>
    </div>

    <ul class="list-none p-0 m-0">
        <div *ngFor="let option of survey.options">
            <!--make clicable line-->
            <div
                style="cursor: pointer; transition: all 0.3s; color: white; background-color: #f5f5f5; border-radius: 5px; padding: 10px; margin-bottom: 10px;"
                (click)="vote(option.id, option.title)"
                pRipple
                class="option flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                <div>
                    <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ option.title }}</span>
                    <div class="mt-1 text-600">{{ option.votes }} voto(s)</div>
                </div>

                <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                    <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                        <div class="bg-cyan-500 h-full"
                             [ngStyle]="{width: Math.trunc(calculatePercentage(option))+'px'}"></div>
                    </div>
                    <span class="text-cyan-500 ml-3 font-medium">{{ calculatePercentage(option) }} %</span>


                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                         [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                        <button pButton class="btn btn-sm btn-primary" icon="pi pi-thumbs-up"
                                [disabled]="voted"></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="flex justify-content-center mt-5">
            <p class="text-muted
            ">Total de votos: {{ totalVotes }}</p>
        </div>
    </ul>
</div>

